@media(max-width:965px) {
    #box_anime {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #imagen{
        /* border: 1px solid white; */
        justify-content: center;
        
    }
    #Imagen_banner {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        filter: brightness(50%) blur(2px);
    }
}