@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(29, 29, 29);
}


#anime {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#box_anime {
    position: relative;
    display: flex;
    gap: 2rem;
    z-index: 10000;
    overflow: hidden;
}

#Imagen_banner {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: -20rem;
    filter: brightness(50%) blur(5px);
}

#imagen {
    /* background-color: rgb(43, 255, 0); */
    padding: 0px;
    width: 700px;
    display: flex;
    padding-top: 5px;
}

#imagen img {
    width: 220px;
    height: 280px;
    margin-bottom: 0;
}

#info {
    /* border: 1px solid rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
}

#info h1 {
    margin-bottom: 10px;
    font-family: Oswald;
    font-size: 30px;
}

#info p {
    font-family: Lato;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 16px;
}

#info p span {
    /* border: 1px solid white; */
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    background-color: rgba(121, 121, 121, 0.61);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.192);
}

#info #sinopse {
    display: inline-block !important;
    width: 90%;
    color: white;
    justify-content: start;
    align-items: start;
    text-align: start;
    max-height: 100px;
    overflow: auto;
    border-radius: 10px;
    padding-right: 15px;
    font-size: 17px;
}

#info #sinopse::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.096);
    width: 10px;
}

#info #sinopse::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

#box_episodios {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 7.2rem;
}

#box_episodios h2 {
    font-family: Oswald;
    color: rgb(197, 197, 197);
    margin-bottom: 20px;
}

#box_episodios .episodio {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 0.5s;
    background-color: rgb(41, 41, 41);
    color: rgb(230, 230, 230);
    width: 100%;
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    word-spacing: 5px;
    cursor: pointer;
}

#box_episodios .episodio span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    /* Cor de fundo do círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}
#box_episodios .episodio span i {
    color: black;
}

#box_episodios .episodio:hover {
    background-color: rgb(66, 66, 66);
}

nav {

    background-color: white;
    width: 100%;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid green;
    padding: 1rem;
}

nav ul li {
    display: inline;
    /* border: 1px solid red; */
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
}


nav a {
    transition: all 0.5s;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

/*rotape*/
footer {
    background-color: #ffffff;
    color: #181818;
    padding: 20px 0;
    font-family: Oswald;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    text-align: center;
}